* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width:80%;
    height: 80%vh;
    background: #eff4fd;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: blue;
}
.details{
    margin-left: 16%;
    margin-top: 5%; 
}

.details h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: orange;
}

.details{
    color: #555;
    line-height: 22px;
}

.details a{
    background: #0d6ec9;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 40px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0%;
    right: 8px;
    top: 100pxpx;

}
/* .images .shape1{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX( -50%);
    transition: bottom 1s, left 1s;
} */

/* .images:hover .shape1{
    bottom: 40px;
} */

.images:hover .main2{
    left: 45%;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}